.admin {
  min-height: 100%;
  //   height: max-content;
  color: black;

  &__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    // border: 1px solid red;
  }

  &__row--upper {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    width: 100%;
    height: 50%;
    border-radius: 1rem;
    // border: 1px solid blue;
  }

  &__column--left {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid lime;
  }

  &__save-changes {
    font-size: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    // box-shadow: 0 12px 20px -10px rgba(202, 153, 50, 0.28),
    //   0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(202, 153, 50, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  &__changes-button {
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto Slab', serif !important;
    text-transform: uppercase;
    color: white;
    border-radius: 3rem;
    box-shadow: 0 12px 20px -10px rgba(202, 153, 50, 0.28),
      0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(202, 153, 50, 0.2);
    background-color: $primary;
    transition: all 0.5s ease;

    &:hover {
      cursor: pointer;
      transition: all 0.5s ease;
      box-shadow: 0 12px 20px -10px rgba(202, 153, 50, 0.28),
        0 10px 30px 0px rgba(0, 0, 0, 0.12),
        0 20px 15px -5px rgba(202, 153, 50, 0.4);
    }
  }

  &__column--middle {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid lime;
  }

  &__dropdown--wrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 5rem;
    margin: 1rem 1rem;
    border-radius: 0.5rem;
    // box-shadow: 0 12px 20px -10px rgba(202, 153, 50, 0.28),
    //   0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(202, 153, 50, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  &__dropdown--title {
    text-align: center;
    width: 10rem;
    padding: 1rem;
    color: white;
    margin: 0rem 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Roboto Slab', serif !important;
    border-radius: 0.5rem;
    transform: translateX(-3rem);
    background: linear-gradient(60deg, #ffca67, #956b00);
  }

  &__dropdown {
    font-size: 2rem;
    width: 100%;
    border: 1px solid black;
  }

  &__column--right {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid lime;
  }

  &__upload {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    // box-shadow: 0 12px 20px -10px rgba(202, 153, 50, 0.28),
    //   0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(202, 153, 50, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  &__upload-button {
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto Slab', serif !important;
    text-transform: uppercase;
    color: white;
    border-radius: 3rem;
    box-shadow: 0 12px 20px -10px rgba(202, 153, 50, 0.28),
      0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(202, 153, 50, 0.2);
    background-color: $primary;
    transition: all 0.5s ease;

    &:hover {
      cursor: pointer;
      transition: all 0.5s ease;
      box-shadow: 0 12px 20px -10px rgba(202, 153, 50, 0.28),
        0 10px 30px 0px rgba(0, 0, 0, 0.12),
        0 20px 15px -5px rgba(202, 153, 50, 0.4);
    }
  }

  &__row--lower {
    // display: flex;
    // flex-flow: row;
    // justify-content: space-between;
    margin-bottom: 5rem;
    width: 100%;
    height: 100%;

    // border: 1px solid blue;
  }

  &__column__lower--left {
  }

  &__gallery--wrapper {
    // margin-right: 1rem;
    font-size: 2rem;
    height: 100%;
    // border: 1px solid red;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    // box-shadow: 0 12px 20px -10px rgba(202, 153, 50, 0.28),
    //   0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(202, 153, 50, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    // border: 1px solid lime;
  }

  &__column__lower--right {
    // border: 1px solid lime;
  }

  &__property__form--wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    // box-shadow: 0 12px 20px -10px rgba(202, 153, 50, 0.28),
    //   0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(202, 153, 50, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  &__default-image {
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 80%;
    // border: 1px solid $primary;
    border-radius: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  &__form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__input {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Roboto Slab', serif !important;
    width: 80%;
    border-radius: 0.5rem;
    margin: 0.5rem 0rem;
    padding: 1rem;
    border: 1px solid $primary;
    outline: none;
  }

  &__change-default--wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    // border: 1px solid red;
  }

  &__default-button {
    margin-bottom: 2rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto Slab', serif !important;
    text-transform: uppercase;
    color: white;
    border-radius: 3rem;
    box-shadow: 0 12px 20px -10px rgba(202, 153, 50, 0.28),
      0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(202, 153, 50, 0.2);
    background-color: $primary;
    transition: all 0.5s ease;

    &:hover {
      cursor: pointer;
      transition: all 0.5s ease;
      box-shadow: 0 12px 20px -10px rgba(202, 153, 50, 0.28),
        0 10px 30px 0px rgba(0, 0, 0, 0.12),
        0 20px 15px -5px rgba(202, 153, 50, 0.4);
    }
  }
}
