.image-gallery {
  width: 100%;
}

.original {
  // border: 1px solid green;
  // height: 50vh;
  border-radius: 10rem;

  img {
    border: 1px solid $primary;
    // position: absolute;
    margin: 2rem;
    border-radius: 0.5rem;
    max-width: 50%;
    // min-height: 80vh;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.5s ease;

    // &:hover {
    //   transition: all 0.5s ease;
    //   transform: scale(1.005);
    // }
  }
}

.thumbnail {
  img {
    // border: 1px solid red;
    // position: absolute;
    border: 3px solid $primary;
    margin-bottom: 5rem;
    // border-radius: 1rem;
    max-width: 50%;
    max-height: 100vh;
    height: max-content;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.5s ease;
    &:hover {
      transition: all 0.5s ease;
      transform: scale(1.1);
    }
  }

  .left-nav {
    color: white;
  }
}
